@import constants.sass

@font-face
  font-family: "GilroyExtraBold"
  src: url("./assets/fonts/Gilroy-ExtraBold.otf")

body
    padding: 0
    margin: 0

ul, li
    padding: 0
    margin: 0
    list-style: none

h1
    font-size: $font-size-h1
h2
    font-size: $font-size-h2
h3
    font-size: $font-size-h3
h4
    font-size: $font-size-h4
h5
    font-size: $font-size-h5


.blue-text
    color: $main-blue
.green-text
    color: $main-green


