.container
    display: block
    width: 100%
    max-width: 1170px
    margin: auto
    
.container-fluid
    display: block
    width: 100%

.row
    display: flex

.col-md-1
    max-width: calc(100% / 12)
    min-width: calc(100% / 12)
.col-md-2
    max-width: calc((100% / 12) * 2)
    min-width: calc((100% / 12) * 2)
.col-md-3
    max-width: calc((100% / 12) * 3)
    min-width: calc((100% / 12) * 3)
.col-md-4
    max-width: calc((100% / 12) * 4)
    min-width: calc((100% / 12) * 4)
.col-md-6
    max-width: calc((100% / 12) * 6)
    min-width: calc((100% / 12) * 6)
.col-md-8
    max-width: calc((100% / 12) * 8)
    min-width: calc((100% / 12) * 8)
.col-md-10
    max-width: calc((100% / 12) * 10)
    min-width: calc((100% / 12) * 10)
.col-md-12
    max-width: calc((100% / 12) * 12)
    min-width: calc((100% / 12) * 12)
// @media (min-width: 576px)
// @media (min-width: 768px)
// @media (min-width: 992px)
// @media (min-width: 1200px)















