<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        .container 
            haeder
                .row
                    .logo.col-md-4 
                        h1.blue-text LO
                        h1.green-text GO
                    nav.col-md-3
                        a(href="#") Магазин скидок
                        a(href="#") Партнерам
                    ul.city.col-md-2
                        li Днепр
                        li Киев
                        li Запорожье
                    .col-md-2.Login
                        button Войти
                    .col-md-1.SignUp
                        button Регистрация